@media only screen and (min-width:800px) {
    .image-cropper {
        position: relative;
        margin-top: 0
    }

    .headflex {
        display: flex;
        flex-direction: column
    }

    h1 {
        font-size: 50px;
        text-align: center;
        margin-top: 20px
    }

    .Motto {
        font-style: italic;
        align-self: center
    }

    header {
        display: flex;
        justify-content: space-evenly;
        align-content: center
    }

    main {
        margin-top: 0;
        margin-bottom: -175px
    }

    footer,
    header,
    main {
        margin: 1.25rem auto;
        padding: .5rem;
        max-width: 68rem
    }

    .dropdown {
        display: none
    }

    nav.fixed-menu {
        display: inline-flex;
        margin-bottom: 12px
    }

    .fixed-menu ul {
        background-color: rgba(89, 109, 224, .664)
    }

    .fixed-menu ul li {
        display: inline-block;
        color: #5f6cb4
    }

    .start .climate {
        float: left;
        position: relative;
        left: 12%;
        top: .5rem
    }

    .start .carp {
        float: right
    }
    .Forecast{
        display: inline-flex;
        flex-direction: column;
    }

    article p {
        display: block;
    }

    .aForecast {
        margin-top: .8rem;
        margin-bottom: 1rem;
        width: 70%;
        max-height: 233px;
        border-top: 3px;
        border-top-color: #00008b
    }

    .br8kaleg {
        display: none
    }

    article,
    header,
    main {
        text-align: center
    }

    article .aDuck {
        max-height: 200px;
        max-width: 300px;
        float: right;
        display: flex;
        margin-left: 12px
    }

    footer,
    iframe {
        position: relative
    }

    iframe {
        right: 0
    }

    section {
        max-width: 70%;
        display: inline;
        align-self: auto
    }

    footer {
        min-width: 58%;
        text-align: center;
        text-anchor: middle;
        top: 148px;
        font-size: 14px
    }

    .gallery {
        display: grid;
        margin: 0 1rem 1rem;
        grid-template-columns: repeat(3, 1fr);
        align-items: center
    }

    .gallery figure:hover {
        box-shadow: .2rem .2rem 1rem #a5a5a5
    }
}
