* {
    margin: 0;
    box-sizing: border-box
}

@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.google.com/specimen/Roboto)
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    color: #0230ff;
    background-color: #75c8ff;
    overflow-x: hidden
}

h1,
h3 {
    font-size: 32px;
    color: #0f3796e3;
    text-align: center;
    display: inline-flex
}

.Motto {
    font-style: italic
}

.start .carp {
    display: inline-flex;
    float: right;
    max-width: 400px;
    height: auto;
    margin: 10px auto
}

.climate {
    display: inline
}

h2,
h4 {
    display: block
}

h2 {
    border-bottom: 8px solid #0f3796e3
}

h2,
h4,
h5 {
    font-size: 24px
}

h4 {
    position: relative;
    left: 14px;
    border-bottom: #0230ff
}

article {
    margin-top: 1rem
}

h5 {
    border-bottom: 8px solid #0f3796e3
}

header,
main {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 32rem
}

header {
    display: flex
}

.climate,
h2,
h4,
main,
nav {
    text-align: center
}

main {
    padding-top: 0
}

.gallery figcaption,
footer {
    text-align: center;
    padding: .5rem
}

.summary {
    display: inline-flex;
    justify-content: space-around;
}

footer,
footer a,
header {
    background-color: #95a4c0;
    color: #1900ff
}

footer {
    margin: 1.25rem auto;
    max-width: 32rem;
    font-size: 12px
}

li,
nav ul {
    list-style-type: none
}

footer a,
header {
    text-align: center
}

section {
    border: #700303
}

header img {
    width: auto;
    height: auto;
    float: right
}

nav {
    display: inline-flex
}

.dropbtn {
    margin: .2rem 1%;
    background-color: transparent;
    border: 0;
    font-size: 1.2rem;
    color: #1d319e;
    display: flex
}

nav ul {
    padding: 0;
    margin: 0
}

nav ul li {
    background-color: #5f7cfd
}

nav ul li a {
    display: flex;
    padding: 12px 8px;
    min-width: 99%;
    text-decoration: none;
    color: rgba(27, 18, 104, .8);
    border-top: 1px solid rgba(0, 0, 0, .3);
    justify-content: center
}

nav ul li a.page {
    background-color: rgba(2, 14, 122, .247)
}

nav ul li a:hover {
    background-color: #a5a5a5
}

p.groove {
    border-style: groove
}

.image-cropper {
    max-width: 200px;
    height: auto;
    position: relative;
    overflow: hidden
}

.image-cropper img {
    display: flex;
    height: auto;
    width: 100%;
    margin: 0 0 0 -20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.dropdown {
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    min-width: 99%
}

.hide {
    z-index: 1
}

.forecast,
.hide,
nav.fixed-menu {
    display: none
}

.aDuck {
    max-height: 200px;
    max-width: 300px
}

h6 {
    font-size: 18px
}

iframe {
    margin-top: .4rem;
    max-width: 355px;
    max-height: 300px;
    border: 0;
    border-style: none;
    right: .5rem
}

.gallery {
    display: grid;
    grid-row-gap: 1.2rem;
    grid-template-columns: 1fr;
    color: #0f3796e3
}

.gallery figure {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    border-radius: .1rem
}

.gallery img {
    max-width: 100%;
    border-radius: .3rem
}

.gallery figcaption {
    color: #00443b;
    font-size: 1.3rem
}